@using Mardis.Engine.Web.ViewModel.ServiceViewModels

@model ServiceCampaignViewModel

@{
    ViewData["Title"] = "Formularios";
    ViewData["Description"] = "Gestión de Codigos";
}

@section buttons{

}

@section filters{

}

<style>
    ul li ul {
        display: none;
    }
</style>
<div id="divMainServices">
    <div class="row">
        <div class="col-sm-4">
            <div class="core-box">
                <div class="heading">
                    <i class="clip-picassa circle-icon circle-bricky"></i>
                  
                </div>
            </div>
        </div>
        <div class="col-sm-8">
            <p>
                Seleccione la medición que desea actualizar códigos <br />
                 , se visualizaran  las encuestas asociados a ellos.<br />
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <ul class="dd-list">
                
                    <li>
                        <a href="#" class="dd-handle bricky">Mediciones</a>
                    </li>

               
            </ul>
            <ul>
                @foreach (var campaign in Model.Campaings)
                {
                    <li>
                        <a href="@Url.Action("ConceptQuestion","Service",new { campaing=campaign.Id})">@campaign.Name</a>
                    </li>
                }
            </ul>

        </div>
        <div class="col-sm-9">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-reorder"></i> Servicios
                    <div class="panel-tools">

                        <a class="btn btn-xs btn-link" href="#">
                            <i class="fa fa-sort-alpha-asc"></i>
                        </a>
                        <a class="btn btn-xs btn-link" href="#">
                            <i class="fa fa-sort-alpha-desc"></i>
                        </a>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="row">
                        @foreach (var service in Model.Services)
                        {
                            <div class="col-md-2 col-sm-4" id="@service.Id">
                                <div class="wrap-image">
                                    <a class="center" href="#" title="">
                                        <i alt="" class="@service.Icon" style="font-size: 50px;"></i>
                                    </a>
                                    <div class="tools tools-bottom">
                                        <a href="@Url.Action("ModifyQuestion","Service",new {service=service.Id})" title="Editar Servicio">
                                            <i class="clip-pencil-3 "></i>
                                        </a>
                                       
                                    </div>
                                    <label>@service.Name</label>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

@section scripts{}