@model CampaignListViewModel
@{
    ViewData["Menu"] = "Tareas";
    ViewData["Title"] = "Tareas";
    ViewData["Description"] = "Gestión de Tareas";
    Layout = "_Layout";
}

@section buttons{
 
}

@section filters{
    @Html.Partial("_CoreFilterPartial", Model.Properties)
}



<div id="divMainCampaign">
    @foreach (var campaign in Model.CampaignList)
    {
        <div class="panel panel-default" id="@("row" + campaign.Id)">
            <div class="panel-heading">
                <div class="col-sm-4">
                    
                    <strong>PERIODO:</strong>
                    <a href="#">@campaign.Name</a>
                </div>
                <div class="col-sm-4">
                    <strong>INICIO:</strong>
                    <label>@campaign.StartDate.ToString("dd/MM/yyyy")</label>
                </div>
                <div class="col-sm-4">
                    <strong>FINALIZA:</strong>
                    <label>@campaign.EndDate.ToString("dd/MM/yyyy")</label>
                </div>
            </div>
            <div class="panel-body">
                <div class="col-sm-4">
                    <div>
                        <div class="row">
                            Cumplimiento
                        </div>

                        <div id="@campaign.Id">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="progress">
                                        @foreach (var sectionData in campaign.sectionCampaign)
                                        {
                                            <div class="progress-bar   " role="progressbar" style="width: @sectionData.percent; background:@sectionData.color;">@sectionData.percent</div>
                                        }

                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-sm-4">
                    <div>
                        <div class="row">
                            @foreach (var sectionData in campaign.sectionCampaign)
                            {
                                <div class="col-sm-6">
                                    <label><span style="color: @sectionData.color">&#9632;</span>@(" (" + sectionData.total + ")" + sectionData.name ) </label>

                                </div>
                            }
                        </div>



                    </div>
                </div>



                <div class="col-sm-1">
                    <div style="text-align: center">
                        <div class="row">
                            <h3>@(campaign.RemainingDays + " días")</h3>
                        </div>
                        <div class="row">
                            TIEMPO RESTANTE
                        </div>
                    </div>
                </div>
             
                <div class="col-sm-1" style="text-align: center">
                    <div class="row">
                        <a class="fa fa-tasks fa-4x" href="@Url.Action("TasksCampaign", "Task", new {idCampaign = campaign.Id})"></a>
                    </div>
                    <div class="row">
                        @( campaign.TotalTasks + " Encuestas")
                    </div>
                </div>
                <div class="col-sm-1">
                    <div style="text-align: center">
                        <div class="row">
                            <a asp-action="Export" asp-route-id="@(campaign.Id)" class="fa fa-file-excel-o fa-4x"></a>
                        </div>
                        <div class="row">
                            Informe
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
<div id="divFooter">
    @Html.Partial("_PagingPartial", Model)
</div>

@section scripts{
    <script src="~/js/viewModel/TaskCommon.js"></script>
    <script src="~/js/viewModel/FilterHelper.js"></script>
    <script src="~/js/Helpers/CampaignHelper.js"></script>
    <script>
        window.controllerName = "@Model.Properties.ControllerName";
                            window.actionName = "@Model.Properties.ActionName";
        var filters = [];

                            @foreach (var filter in Model.Properties.FilterValues)
                            {
            @:var point = { 'IdFilter': "@filter.IdFilter", 'NameFilter': "@filter.NameFilter", 'Criteria': "@filter.Criteria", 'Value': "@filter.Value", 'Visible':'@filter.Visible' };
            @:filters.push(point);
        }
    </script>
}