@model Mardis.Engine.Web.ViewModel.TaskViewModels.TaskCampaigViewModel
@{
    ViewData["Menu"] = "Total de Tareas :";
    ViewData["Title"] = "Tareas totales:";
    ViewData["Description"] = ViewBag.CountTasks;
    Layout = "_Layout";

}

@section buttons{
    @*<div class="pull-right">
            <a title="Listado" class="btn btn-default input-sm" href="@Url.Action(Model.Properties.ActionName, Model.Properties.ControllerName, new { view = "list" })">
                <i class="fa fa-list-alt"></i>
            </a>
            <a title="Kanban" class="btn btn-default input-sm" href="@Url.Action(Model.Properties.ActionName, Model.Properties.ControllerName, new {view = "block"})">
                <i class="fa fa-th"></i>
            </a>
        </div>*@
}

@section filters{
    @Html.Partial("_CoreFilterPartial", Model.Properties)
}

<link rel="stylesheet" href="~/lib/Slidebars/dist/slidebars.css">
<link rel="stylesheet" href="~/css/theme/StyleFilter.css">
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css" />
<style>
    #DatosTabla tbody {
        font-size: 12px;
        color: #545454;
        font-weight: 600;
    }

    .user-footer a {
        color: #be0811 !important;
    }

    #DatosTabla th {
        font-size: 12px;
        font-weight: 700;
        color: black;
    }

    #DatosTabla a {
        color: #20a0c6;
        font-size: 16px;
    }

        #DatosTabla a:hover {
            color: #20a0c6;
            font-size: 18px;
        }

    .paginate_button {
        font-size: 13px !important
    }

    .input-group .input-group__selections__comma {
        padding-left: 0.9pc !important;
    }

    .input-group label {
        left: 0.9pc !important;
        font-weight: 700 !important;
    }

    .input-group .input-group--select__autocomplete {
        padding-left: 0.9pc !important;
        display: block;
        width: 100%;
        height: 38px;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.42857143;
        color: #555;
        background-color: #fff;
        background-image: none;
        border: 1px solid #ccc;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
        -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    }

    .btn-app {
        top: -1.3pc !important;
        margin: 0px !important;
        color: white !important;
        background-color: #76787a;
        font-size: 11px !important;
        font-weight: 700 !important;
        border-radius: 0.3pc !important;
        padding: 7px 5px !important;
        height: 45px !important;
    }

        .btn-app:hover {
            background-color: #a1a1a1 !important;
        }

    .breadcrumb i {
        color: rgba(221, 24, 34, 0.98) !important;
    }
</style>
<style type="text/css">

    html, body {
        margin: 0;
        padding: 0;
    }

    * {
        box-sizing: inherit;
    }

    .slider {
        width: 98%;
        margin: 0px auto;
    }

    .slick-slide {
        margin: 0px 20px;
    }

    .slick-slider {
        user-select: text;
        -webkit-tap-highlight-color: transparent;
    }

    .slick-next {
        right: -5px;
    }

    .slick-prev {
        left: -45px;
    }

        .slick-next:before {
            content: '→';
            font-family: 'slick';
            font-size: 40px;
            line-height: 1;
            opacity: .75;
            color: white;
            -webkit-font-smoothing: antialiased;
        }

    .slick-prev:before {
        content: '←';
        font-family: 'slick';
        font-size: 40px;
        line-height: 1;
        opacity: .75;
        color: white;
        -webkit-font-smoothing: antialiased;
    }

    .slick-prev, .slick-next, .slick-prev:before,
    .slick-next:before {
        position: absolute;
        top: 20%;
        width: 20px;
        height: 20px;
        cursor: pointer;
        color: #1110108c;
    }
</style>
<link href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.35/css/uikit.min.css" rel="stylesheet" />
<link href="https://cdn.datatables.net/1.10.19/css/dataTables.uikit.min.css" rel="stylesheet" />
<link href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet" />
<link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet">

<div id="divMyTask">
    <section class="regular slider" align="center">
        @{var cont = 1; var numStatus=10;
            var tam = (Model.tasks.Count() > numStatus ? numStatus : Model.tasks.Count()); int pages = (Model.tasks.Count() > numStatus ? (Model.tasks.Count() / tam) + 1 : 1);}
        @for (int i = 0; i < pages; i++)
        {
        <div class="row">
                <div class="row">
                    <div class="row-fluid">
                        @{cont = 1;}
                        @foreach (var status in Model.tasks)
                        {
                            if (cont > (tam * i) && cont <= (tam * (i + 1)))
                            {
                                <div class="col-sm-2-mdr" style="text-align: center; border: thick solid white; background-color: @status.color;     min-height: 75px;">
                                    <h5 class="control-label" style="color: white; margin-top:0px !important;margin-bottom:0px !important;font-size:14px !important"> @status.type </h5>
                                    <h5 class="control-label" style="color: white; margin-top:0px !important;margin-bottom:0px !important;font-size:14px !important"> @(((Model.PageIndex * Model.PageSize) - Model.PageSize + 1) + "-" + (Model.PageIndex * Model.PageSize) + "/" + status.CountTasks)</h5>
                                </div>
                            }
                            cont++;
                        }
                    </div>
                </div>
                <div class="row">
                    <div class="row-fluid">
                        @{cont = 1;}
                        @foreach (var listtask in Model.tasks)
                        {
                            if (cont > (tam * i) && cont <= (tam * (i + 1)))
                            {
                                <div class="col-sm-2-mdr" style="border: thick solid #CCCCCC;">
                                    @foreach (var task in listtask.TasksList)
                                    {
                                        <div class="panel panel-default" id="@("row" + task.Id )">
                                            <div class="panel-body">

                                                @*<div class="col-sm-7">
                                            <strong>CAMPAÑA:</strong>
                                            <a href="@Url.Action("ProfileCampaign", "Campaign", new { idTask = task.Id,idcampaing=@ViewBag.idcampaign  })">@task.CampaignName</a>
                                        </div>*@
                                                <div class="row">
                                                    <div class="col-sm-12 pull-right">
                                                        <label style="font-size-adjust: 0.2;">@task.Route</label>
                                                    </div>
                                                </div>

                                                <div class="row">

                                                    <div class="col-sm-12">

                                                        <a href="@Url.Action("Profile", "Task", new { idTask = task.Id, campaign = @ViewBag.idcampaign })" style="color: @listtask.color">@task.BranchMardisCode</a>

                                                    </div>


                                                </div>
                                                @*<div class="row">
                                            <div class="col-sm-12">
                                                <label style="font-size-adjust: 0.2;">@task.BranchName</label>
                                            </div>
                                        </div>*@

                                                @*<div class="row">
                                            <div class="col-sm-12">
                                                <label style="font-size-adjust: 0.4;">@task.BranchMardisCode</label>
                                            </div>
                                        </div>*@
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <label style="font-size-adjust: 0.2">Código: </label>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-12">

                                                        <a href="@Url.Action("Timeline", "Branch", new {idBranch = task.BranchId})" style="color: @listtask.color">@task.BranchExternalCode</a>
                                                        @*<a href="@Url.Action("Profile", "Branch", new {idBranch = task.BranchId})">@task.BranchName</a>
                                                        <label style="font-size-adjust: 0.2;">@task.BranchExternalCode</label>*@
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-12">

                                                        <label style="font-size-adjust: 0.2; font-weight:700">@task.StartDate.ToString("dd/MM/yyyy")</label>

                                                    </div>

                                                </div>

                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <a href="#" onclick="History('@task.Id','@ViewBag.idcampaign','@task.BranchMardisCode')" style="font-size-adjust: 0.4;" class="pull-left"><span class="fa fa-eye" style="color: @listtask.color"></span></a>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <span class="@task.Icon pull-right" style="font-size-adjust: 0.4; color: @listtask.color"></span>
                                                    </div>

                                                </div>
                                                <div class="row">
                                                    @if (task.StatusMigrate == "G")
                                                    {
                                                        <div class="col-sm-6">
                                                            <a href="#" style="font-size-adjust: 0.4;" class="col-lg-offset-7"><span class="fa  fa-expeditedssl" style="color: #a8222a"> Migrado</span></a>
                                                        </div>
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </div>
                            }
                            cont++;
                        }
                    </div>
                </div>
                <div id="divFooter" class="row">
                    @Html.Partial("_PagingPartial", Model)
                </div>
            </div>
        }
    </section>
    @Html.Partial("_HistoryStatus")
</div>

@section scripts{
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script src="~/js/viewModel/FilterHelper.js"></script>
    <script type="text/javascript">
        $(".regular").slick({
            dots: false,
            arrows: true,
            infinite: false,
            draggable: false,
            fade: true,
            focusOnSelect: false,
            useCSS: false,
            slidesToShow: 1,
            slidesToScroll: 1
        });
        $(".variable").slick({
            dots: true,
            infinite: true,
            variableWidth: true
        });
        $(".lazy").slick({
            lazyLoad: 'ondemand', // ondemand progressive anticipated
            infinite: true
        });
    </script>
    <script>
        controllerName = "Task";
        actionName = "TasksCampaign";
        var idtask = "E6774B2A-B759-4C6A-B4A8-D8F08DDEF915";
        var table;
        @foreach (var filter in Model.Properties.FilterValues)
        {
            @:var point = { 'IdFilter': "@filter.IdFilter", 'NameFilter': "@filter.NameFilter", 'Criteria': "@filter.Criteria", 'Value': "@filter.Value", 'Visible':'@filter.Visible' };
            @:filters.push(point);
        }
        var maxColummn = '@Html.Raw(tam)';
        //alert(maxColummn);
        var x = document.getElementsByClassName("col-sm-2-mdr");
        var i;
        var max= 100 / maxColummn + "%";
        for (i = 0; i < x.length; i++) {
                    x[i].style.width = max;
        }
        generarTabla()
        function History(id,idcampaign,code) {
            idtask = id;



            var table = $('#table-mardis-dt').DataTable();

            table.clear().draw();
            table.ajax.reload();
            var link = "../Task/Profile?idTask=" + id + "&campaign=" + idcampaign

            app.$data.code = code;
            app.$data.link = link;

//           - $('#lbdT').val=code

            $('#responsive').modal('show');
        }


            function generarTabla() {
                $.blockUI({ message: "cargando..." });
             table = $('#table-mardis-dt').dataTable({
                "language": {
                    "url": "@Url.Content("~/js/latin.json")"
                 },
                 "pageLength": 10,
                "ajax": {
                    "url": '/Task/HistoryTB',
                    "type": "GET",
                    "data": function (d) {
                        return $.extend({}, d, {
                            "Id": idtask
                        });
                    },
                    "dataSrc": function (json) {
                        //     jQuery.each(json, function (index, value) {
                        //         //now you can access properties using dot notation



                        //         if (json[index].status) { json[index].status = "<input type='checkbox'   class='custom-control-input' id=" + json[index].route + " checked onclick='onToggle(this)'>"; }
                        //         else { json[index].status = "<input type='checkbox' class='editor-active' id=" + json[index].route + " onclick='onToggle(this)' >" }

                        //         json[index].linkbranch = "<a href='#responsive'" + " '   onclick='ModalPerfil(this);'  "+"id=" + (json[index].route+"link" )+ "><i class='fa fa-fw fa-group'></i> </a>";


                        //});

                        return json;
                    }
                },
                "columns": [
                    { "data": "date" },
                    { "data": "user" },
                    { "data": "status" },
                     { "data": "comment" }
                ],



             }

                );
                $.unblockUI();
        }

        var app = new Vue({
            el: '#InfoEncuesta',
            data: {
                code: '',
                link: ''
            }
        })

    </script>
}
